.date-time-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.date-time-inputs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.wide-box {
    width: 200px;
}
  